@use "../../styles/variables";
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
.profile{
    font-family: "Inter", sans-serif;
    position: relative;
    z-index: 80;
    .edit__button{
            position: absolute;
            top: 10px;
            right: 10px;
            z-index: 100;
            background-color: transparent;
            font-size: 1.5rem;
            cursor: pointer;
            border: none;
            display: none;
            font-size: 0.8rem;
            top: 70px;
            z-index: 1;
            @media (max-width: 600px) {
                display: block;
            }
        }
    .content{
        display: flex;
        .right{
            padding: 50px;
            flex: 1;
            @media (max-width: 600px) {
                display: none;
            }
            @media (max-width: 650px) {
                padding: 20px;
            }
            .profile__image{
                width: 80px;
                height: 80px;
                object-fit: cover;
                object-position: top;
                min-width: 80px;
                border-radius: 50%;
            }
            .name{
                margin-bottom: 20px;
                font-weight: 600;
            }
            .edit__btn {
                color: variables.$primary-color;
                cursor: pointer;
                font-size: .8rem;
            }
        }
        .left{
            flex:3;
            padding: 50px 100px;
            border-right: 1px solid #ccc;
            min-height: calc(100vh - 50px);
            .my__stories{
                ul{
                    list-style: none;

                    .story__li{
                        padding: 20px 0;
                        border-bottom: 1px solid #ccc;
                    }
                }
            }

            @media (max-width: 800px) {
                padding: 50px 20px;
            }
        }
        
    }
}