@use "../../styles/variables";

@import url("https://fonts.googleapis.com/css2?family=Gelasio:ital,wght@0,400..700;1,400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap");

.feed {
  font-family: "Inter", sans-serif;

  .feed__hero {
    display: flex;
    height: calc(100vh - 60px);
  }

  .right {
    flex: 4;
    overflow-y: auto;

    .foryou {
      font-size: 2rem;
      font-family: "Roboto", sans-serif;
      padding: 20px 100px 10px;

      @media (max-width: 650px) {
        padding: 30px;
        font-size: 1.6rem;
      }
    }

    .stories {
      font-family: "Gelasio", serif;
      padding: 0 100px 0;

      @media (max-width: 650px) {
        padding: 0 30px;
      }

      ul {
        list-style: none;
        padding: 0;

        li {
          // padding: 10px 50px 30px 0;

          @media (max-width: 650px) {
            padding: 30px 0;
          }
        }
      }
    }
  }

  .left__area {
    flex: 1;
    border-left: 1px solid #ccc;
    padding: 20px;
    font-family: "Roboto", sans-serif;
    overflow-y: auto;

    h1 {
      font-family: "Merriweather", serif;
      font-size: 1.8rem;
      margin-bottom: 10px;
    }

    p {
      font-size: 0.9rem;
      padding-top: 20px;
      text-align: justify;
      line-height: 1.6;
    }

    ul {
      margin-top: 40px;
      padding-left: 0;
      list-style: none;

      li {
        margin-bottom: 20px;

        h3 {
          font-size: 1rem;
          margin-bottom: 5px;
        }

        p {
          font-size: 0.85rem;
          padding: 0;
          line-height: 1.5;
        }
      }
    }

    @media (max-width: 1000px) {
      display: none;
    }
  }
}
