@use "../../styles/variables";
.nav__bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 60px;
    height: 60px;
    background-color: white;
    padding-block: 5px;
    border-bottom: 1px solid #ccc;
    @media (max-width: 650px) {
            padding-inline: 30px;
        }
    .left{
        display: flex;
        gap: 20px;
        align-items: center;

        .search__bar{
            padding: 13px 20px 13px 50px;
            background-color: #f9f9f9;
            border-radius: variables.$primary-border-radius;
            border: none;
            outline: none;

            @media (max-width: 650px) {
                display: none;
            }
            
        }
        div{
            position: relative;
        }
        .search__icon{
            width: 20px;
            color: variables.$secondary-color;
            position: absolute;
            top: 50%;
            left: 17px;
            transform: translateY(-50%);
            @media (max-width: 650px) {
                display: none;
            }
        }
    }
    .logo__img{
        width: 150px;
        // margin-bottom: 10px;
    }
    ul{
        display: flex;
        list-style: none;
        align-items: center;
        gap: 10px;

        .icon{
            margin-top: 4px;
            width: 28px;
            color: variables.$secondary-color;
        }
        .user__icon{
            width: 33px;
            height: 33px;
            object-fit: cover;
            object-position: top;
            border-radius: 50%;
        }
        .user{
            position: relative;
            cursor: pointer;
        }
    }
}
.dropdown{
    position: absolute;
    top: 100%;
    right: 0;
    background-color: white;
    box-shadow: 1px 1px 10px 2px #e2e2e2;
    border-radius: 5px;
    font-size: 0.9rem;
    font-weight: thin;
    width: 200px;
    padding: 20px;
    z-index: 100;
    ul{
        width: 100%;
        list-style: none;
        display: flex;
        flex-direction: column;
        color: variables.$secondary-color;
        cursor: pointer;

        li{
            font-weight: 400;
            font-size: 0.8rem;
            width: 100%;
            padding: 5px 20px;
            display: flex;
            align-items: center;
            border-radius: 4px;
            gap: 10px;
            &:hover{
                color: black;
            }

            img{
                width: 20px;
            }
            &:hover{
                background-color: #eeeeee;
            }
        }
        .dropdown__li{
            display: flex;
            gap: 10px;
            align-items: center;
        }
    }
}